<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    @if ($slots.meta)
      {{{ await $slots.meta() }}}
    @endif
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css?1692870487" rel="stylesheet"/>
    <link href="/css/tabler-flags.min.css?1692870487" rel="stylesheet"/>
    <link href="/css/tabler-payments.min.css?1692870487" rel="stylesheet"/>
    <link href="/css/tabler-vendors.min.css?1692870487" rel="stylesheet"/>
    <link href="/css/demo.min.css?1692870487" rel="stylesheet"/>
    <style>
      :root {
      	--tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
    </style>
    @if ($slots.styles)
      {{{ await $slots.styles() }}}
    @endif
  </head>
  <body>
    @if ($slots.body)
      {{{ await $slots.body() }}}
    @endif
  </body>
</html>
