@layout.main({ title: "Welcome page title" })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS">
  @endslot

  @slot('styles')
  <style type=""></style>
  @endslot
@end
